{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}Home logued {% endblock title %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Bonjour {% if is_granted('ROLE_USER') %}{{ app.user.username }}{% endif %}</h1>
    </div>
    <hr>
    <div class="col-12">
        <h4 class="">
            Tp du jour : :)<br />
        </h4>
        <h5 class="alert-warning alert">
            Comme d'hab 1 question = 1 commit !
        </h5>
        <h6>New MCD </h6>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vTloBWaJFCblEY8qbEkl-0dl5_bKjJf5qiaEmyadVc1R-uS7VS_QajsKdJs05Lx4qyPFu81EKg3QXez/pub?w=960&amp;h=720">

        <hr><hr>

        <h6>Tp du jours sur la page <a href="{{ path('game_show', {'id':1}) }}">ICI</a></h6>
        <h6>1 - Créer une commande qui créer une arme vierge en utilisant un listener</h6>
        <h6>2 - Modifier le controller arme:new pour utiliser le même listener</h6>
        <h6>3 - Modifier la fonction load pour utiliser les subscribers</h6>
        <h6>4 - Modifier la fonction load pour quelle puisse retirer l'arme en main. inHand = false</h6>
        <h6>5 - Implémenter les traduction ( fr / en ) sur tous les messages de feedback de la fonction load</h6>
        <hr><h5>Correction</h5><hr>
        <h6>6.1 - Loguer le rechargement d'un joueur ( avec subscribers ou listener )</h6>
        <h6>6.2 - loguer le tir sur un joueur ( avec subscribers ou listener )</h6>
        <hr><h5>Correction</h5><hr>
        <h6>7 - Modifier la fonction shoot:user en utilisant le principe des subscribers</h6>
        <h6>7.1 - Un joueur ne peux pas avoir moins de 0 PV  </h6>
        <h6>7.2 - Supprimer le joueur de la liste si il est mort = Opv </h6>
        <h6>7.3 - Ajouter une chance de looper le tir 70 % de chance de looper le tir</h6>
        <hr><h5>Correction</h5><hr>

    </div>
    <hr>
    <hr>
</div>
{% endblock body %}
