{% extends 'base.html.twig' %}

{% block title %}LPDIOC S4  {% endblock title %}

{% block body %}

    <div class="row">

        <div class="col-12">
            <h1 class="text-left">Tp-du-jour - Rappel 1 question = 1 commit</h1>
            <h1 class="text-left">Les form ( Validation, Champs et Champs perso )</h1>
        </div>


        <div class="col-12">
            <ul>
                <li>
                    1 - Création d'un champs personnaliser pour Character:age : SELECT DE 0 à 100.
                </li>
                <li>
                    2 - Création d'un champs personnaliser pour Character:sex : Radio button Avec les constantes de la classe.
                </li>
                <li>
                    3 - Ajouter un paramètre fictif sur le champ Character:name avec : sarah conord
                </li>
                <li>
                    4 - Création des assert pour character ( age compris entre 0 et 100 / sex choix des constantes de la classe  )
                </li>
                <li>
                    5 - Création d'une contrainte de class pour qu'un character ne peux pas avoir plus de 90 ans et être activer.
                </li>
                <li>
                    6 - Création d'une méthode pour ajouter un nombre d'année compris entre 10 et 20 ans à un character depuis la page character:index<br />
                    valider l'entité character et ajouter un callback pour informer l'utilisateur.<br />
                    Sécuriser la methode pour les ROLES_USER
                </li>
                <li>
                    7 - Excellent weekend à vous :)
                </li>
            </ul>
        </div>
</div>

{% endblock %}
