{% extends 'base.html.twig' %}

{% block title %}Home {% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Les events => listener - dispatcher</h1>
            <h2>Qu'est ce que c'est ?</h2>
            <h3>Différence :</h3>
            <hr>
            <h5>Les listeners peuvent être activé/désactivé dans la config. ( donc possible d'étre surchargé ) </h5>
            <hr>
            <h5>Les subscribers ont toute la logique dans leur classe, ils sont plus flexible car réutilisable</h5>
            <h6>Désavantages des subscribers, c'est qui sont tous chargés en cache alors que le listener est chargé uniquement lors de son appel.</h6>
            <h2>Doc officiel : <a href="https://symfony.com/doc/current/event_dispatcher.html" target="_blank">Doc</a></h2>

        </div>
        <hr>
        <div class="col-12">
            <h2>Listener</h2>
            <h2>namespace = App\EventListener</h2>
            <h2>Exemple : User Create</h2>
        </div>
        <div class="col-12">
            <h2>Subscriber</h2>
            <h2>namespace = App\EventSubscriber</h2>
            <h2>Exemple UserEdit</h2>
        </div>

        <div class="col-12">
            <h4>On avance ? <a href="{{ path('home_logued_index') }}">Next</a></h4>
        </div>
    </div>

{% endblock body %}
