{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}Home logued {% endblock title %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Bonjour {% if is_granted('ROLE_USER') %}{{ app.user.username }}{% endif %}</h1>
    </div>
    <hr>
    <div class="col-12">
        <h4 class="">
            Tp du jour : :)<br />
        </h4>
        <h5 class="alert-warning alert">
            Comme d'hab 1 question = 1 commit !
        </h5>
        <h6>New MCD </h6>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vTloBWaJFCblEY8qbEkl-0dl5_bKjJf5qiaEmyadVc1R-uS7VS_QajsKdJs05Lx4qyPFu81EKg3QXez/pub?w=960&amp;h=720">

        <hr><hr>

        <h4 class="">
            Tp du jour &#128584; sur la page Game:show <a
                    href="{{ path('game_show', {'id':1}) }}">ICI</a>&#128520;<br/>
        </h4>
        <hr>
        <hr>
        <h5>1: Créer une régle de validation pour qu'un User ne peut pas être 2 fois dans la même game</h5>
        <h5>2: Ajouter un bouton pour rejoindre une game dans Game:show ( GameUser:new ) qui automatiquement set
            le User et la Game en cours<br/>
            <i><h6>En clair :j'arrive sur le form GameUser:new avec , voulez vous vraiment rejoindre la game X
                    OUI en dessous vous ajoutez un lien pour annuler et retourner sur la game:show</h6></i>
        </h5>
        <h5>3: Si l'utilisateur est dans la game ne pas afficher le bouton rejoindre mais afficher la liste des
            utilisateurs ( nom et health ) avec le detail de l'arme qu'ils ont en main ( nom, weapontype:name,
            damage = damage * scarcity )</h5>
        <h5>4: Lister toutes les armes disponibles de la game - ( n'appartienne à personne )</h5>
        <hr><h4>Correction</h4><hr>
        <h5>5: Créer WeaponTypeType dans form/type qui est un radio bouton trié par name DESC <a target="_blank"
                                                                                                 href="https://symfony.com/doc/current/reference/forms/types/entity.html#ref-form-entity-query-builder">&#x1F63B;
                un peu d'aide </a></h5>
        <h5>6: Ajouter un bouton pour créer une arme Weapon:New et qui utilise WeaponTypeType qui preset
            directement la game et le gameuser </h5>
        <h5>7: En tans que Role ADMIN, ajouter un bouton pour pouvoir modifier les armes disponibles ( attention
            seul les gameuser de la game en cours doivent apparaitre !)</h5>
        <hr><h4>Correction</h4><hr>
        <h5>8: Lister les armes de l'utilisateur connecté</h5>
        <h5>9: Mettre en surbrillance l'arme en main et grisé les armes déchargés</h5>
        <h5>10: Ajouter un bouton + fonction pour prendre une arme en main</h5>
        <h5>11: A coter de chaque User de la game, ajouter un bouton pour lui tirer dessus et créer la méthode userGame:shoot ( retirer des point de vie à l'user et retirer une munition de l'arme)</h5>
        <hr><h4>Correction</h4><hr>
        <h5>12: Tester la fonction userGame:shoot</h5>
        <hr><h4>Correction</h4><hr>


    </div>
    <hr>
    <hr>
</div>
{% endblock body %}
