{% extends 'base.html.twig' %}

{% block title %}LPDIOC S4  {% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12 ">
            <h1 class="text-center">Tp du jour</h1>
        </div>
        <div class="col-12 ">
            <hr>
            <H2>Une question = 1 commit !</H2>
            <hr>
            <hr>
        </div>
        <div class="col-12 ">
            <ul>
                <li>1 - Sécurisé le controller Tp pour qu'il soit accessible si et seulement si l'utilisateur est connecté.</li>
                <li>2 - Cacher le lien Tp du menu si l'utilisateur n'est pas connecté.</li>
                <li>3 - Modifier le lien login du menu si un utilisateur est connecté en logout pointant sur la route "app_logout".</li>
                <li>4 - Créer le role ROLE_SUPER_ADMIN et l'ajouter dans la hiérarchie des rôles au niveau max.</li>
                <li>5 - Ajouter une fixture pour un utilisateur ROLE_SUPER_ADMIN.</li>
                <li>6 - Sécurisé la méthode index du controller CharacterController au ROLE_ADMIN.</li>
                <li>7 - Seul les roles ROLE_SUPER_ADMIN doivent accéder à la page show de CharacterController si et
                    seulement si le personnage a au moins 25 ans, sinon il doit être au minimum ROLE_ADMIN pour y accéder.
                </li>
            </ul>
        </div>
    </div>

{% endblock body %}
