{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character {{ character.name }}</h1>

    <div class="row">
        <div class="small-12 columns">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
