<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            {% include 'menu.html.twig'%}
        {% endblock menu %}
        {% block flashmessage %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <h3 class="text-center alert-{{ label }}">
                        {{ message }}
                    </h3>
                {% endfor %}
            {% endfor %}
                </div>
            </div>
        </div>
        {% endblock flashmessage %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
