{% macro scarcity(value) %}
    <span class="badge  badge-pill badge-light" style=
    {% if value is same as(1) %}
    "color:grey;    ">Commun
    {% endif %}
        {% if value is same as(2) %}
            "color:blue;    ">Rare
        {% endif %}
        {% if value is same as(4) %}
            "color:purple;    ">Epique
        {% endif %}
        {% if value is same as(8) %}
            "color:orange;    ">Legendaire
        {% endif %}
    </span>
{% endmacro %}



{% macro detailWeapon(weapon, gameUserInfo) %}

    {% import "macros.html.twig" as macros %}

    {{ weapon.weapontype.name }} - {{ weapon.ammunition }} <img
                src="https://e7.pngegg.com/pngimages/205/703/png-clipart-flying-bullet-rendering-weapon-weapon-ammunition-cartridge.png"
                width="20" height="20">
        - {{ macros.scarcity(weapon.scarcity) }} - {{ gameUserInfo.getReelDamage(weapon) }}
{% endmacro detailWeapon %}