{% macro scarcity(value) %}
    <span class="scarcity" style=
    {% if value is same as(1) %}
        "color:grey;    ">Commun
    {% endif %}
    {% if value is same as(2) %}
        "color:white;    ">Rare
    {% endif %}
    {% if value is same as(4) %}
        "color:purple;    ">Epique
    {% endif %}
    {% if value is same as(8) %}
        "color:orange;    ">Legendaire
    {% endif %}

    </span>
{% endmacro %}
