{% extends 'base.html.twig' %}

{% block title %}Edit ActionUser{% endblock %}

{% block body %}
    <h1>Edit ActionUser</h1>

    {{ include('action_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('action_user_index') }}">back to list</a>

    {{ include('action_user/_delete_form.html.twig') }}
{% endblock %}
