{% extends 'base.html.twig' %}

{% block title %}LPDIOC S4  {% endblock title %}

{% block body %}

    <div class="row">

        <div class="col-12">
            <h1 class="text-left">Branche user-8 - correction voter </h1>
            <h1 class="text-left">Les form ( Validation, Champs et Champs perso )</h1>
        </div>
        <div class="col-12">
            <h3>Ou je trouve çà : <a href="https://symfony.com/doc/current/forms.html" target="_blank" >Ici</a></h3>
        </div>
        <hr><hr>
        <div class="col-12">
            <h3  class="">Les Validation de champs : <a href="https://symfony.com/doc/current/validation.html" target="_blank" >Ici</a></h3>
            <h4> Une contrainte c'est koi ?<a href="https://symfony.com/doc/current/validation.html#constraints" target="_blank" >Lien pour toutes les contraintes</a></h4>
            <code>
                    {% verbatim %}
            use Symfony\Component\Validator\Constraints as Assert;<br />
                /**<br />
                * @Assert\NotBlank<br />
                *<br />
                * @ORM\Column(type="string", length=180, unique=true)<br />
                */<br />
                private $username;<br />
                <br />
                * @Assert\Range(<br />
                *      min = 0,<br />
                *      max = 100,<br />
                *      notInRangeMessage = "You must be between {{ min }} and {{ max }} for be safe"<br />
                * )<br />
                private $health;<br />
            {% endverbatim %}
                </code>
        </div>

        <hr>
        <div class="col-12">
            <h3  class="">
            La validation ou/et comment ? - <a href="https://symfony.com/doc/current/components/validator.html" target="_blank" >Ici</a>
            </h3>
            <h4>1 - Directement dans la validation du Formulaire</h4>
            <code>
            if ($form->isSubmitted() && $form->isValid()) {
            </code>
            <h4>2 - Avec le composant sécurité </h4>
            <code>
                {% verbatim %}
            use Symfony\Component\Validator\Validator\ValidatorInterface;<br />

            /**<br />
             * @Route("/{id}/test", name="user_test", methods={"GET","POST"})<br />
             */<br />
            public function test(Request $request, User $user, ValidatorInterface $validator): Response<br />
            {<br />
                $errors = $validator->validate($user);<br />
            <br />
                return $this->render('user/test.html.twig', [<br />
                    'user' => $user,<br />
                    'errors' => $errors,<br />
                    'errorsString' => (string) $errors<br />
                ]);<br />
            }<br />

                {% endverbatim %}
            </code>
        </div>
        {% if is_granted('ROLE_USER') %}
        <h4><a class="btn-primary btn" href="{{ path('user_test', {'id': app.user.id}) }}">try Me</a></h4>
        {% endif %}
        <hr>
        <div class="col-12">
            <h3>Explication du form</h3>
            <a target="_blank" href="https://gitlab.univ-artois.fr/fabien.zimmermann/tps4/-/blob/user-8/src/Form/UserType.php">ici</a>
            <code >
                Exemple: <br />
                <a target="_blank" href="https://symfony.com/doc/current/reference/forms/types.html">Liste des champs dispo</a><br />
                $builder->add('champs en string', type ou null pour type auto, options = []);<br />
                <a target="_blank" href="https://symfony.com/doc/current/reference/forms/types/form.html">Liste des options dispo</a>
            </code>
        </div>

        <div class="col-12">
            <h3>Création d'un champ personalisé de formulaire
                <a target="_blank" href="https://symfony.com/doc/current/form/create_custom_field_type.html">Aide</a></h3>
            <h4>/src/Form/Type/FieldsType.php</h4>
            <code >
                Exemple: <br />
                App\Form\Type\RolesType<br />
            </code>
        </div>


        <div class="col-12">
            <h3>Création d'un champ formulaire non lié a une entité</h3>
            <h4>/src/Controller/UserController:addHealth</h4>
        </div>

        <div class="col-12">
            <h3>Création d'une contrainte personnaliser</h3>
            <h4><a href="https://symfony.com/doc/current/validation/custom_constraint.html">ici</a></h4>
        </div>

        <h4>On avance ? <a href="{{ path('home', {'id':4}) }}">Next</a></h4>
</div>

{% endblock %}
